<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="../../images/Myntra-logo-png-icon-1024x1024.png" alt=""> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav LeftNav">
      <li class="nav-item active">
        <a class="nav-link" href="#">men <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">women</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">kids</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Home&living</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Essentials</a>
      </li>
    </ul>
    <div class="SearchBox">
        <span><i class="fas fa-search"></i><input type="text" class="form-control search" placeholder="Search for products, brands and more" id="SearchItem" name="SearchItem"/></span>
    </div>
    <ul class="navbar-nav RightNav">
       <li class="nav-item">
        <a class="nav-link" href="/profile/create-profile"><span><i class="far fa-user-circle"></i></span><span><p>Profile</p></span> 
        </a>
      </li>
      {{!-- <li class="nav-item">
        <a class="nav-link" href=""><span><i class="far fa-bookmark"></i></span><span><p>wishlist</p></span> 
        </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href=""><span><i class="far fa-shopping-bag"></i></span><span><p>bag</p></span> 
        </a>
      </li> --}}
      <li class="nav-item">
        <a class="nav-link" href="/auth/login">login
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/register">register
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile/all-profiles">all-profiles
        </a>
      </li>
    </ul>
  </div>
</nav>